<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1>Add a Contact</h1>
<p>Add a Address Book here:</p>
<form action="/addresses" method="post">
  <label for="new-address">Address Book Name</label>
  <input id="new-address" name="new-address" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/addresses">Back to Address Book.</a></p>
