<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<h1> Name: @Model.GetContactName()</h1>
<h1>Phone Number: @Model.GetNumber()</h1>
<h1>Address: @Model.GetPlace()</h1>



<p><a href='/contacts/new'>Add another contact</a><p>
<p><a href='/contacts'>View all contacts</a></p>
